<% provide(:title, "Forgot password") %>
<h1 class="display-4">Forgot password</h1>

<div class="row row justify-content-center">
  <div class="col-lg-5 col-md-7 col-sm-10">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <p>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </p>

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6 text-right">
            <%= f.submit "Submit", class: "btn btn-lg btn-success" %>
          </div>
        </div>
    <% end %>
  </div>
</div>