<tr>
  <td><%= gravatar_for(user) %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td class="text-right">
    <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "delete", user, method: :delete, data: {confirm: "The user " + user.name + " will be deleted."}, class: "btn btn-outline-danger" %>
    <% end %>
  </td>
</tr>