<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>

<h1>Update your profile</h1>

<div class="row justify-content-center">
  <div class="col-sm-10 col-md-4">
    <%= render 'form' %>
  </div>
  <div class="col-sm-2 col-md-1">
    <div class="gravatar_edit push-right">
      <%= gravatar_for @user %>
      <a class="btn btn-success marginTop" href="http://gravatar.com/emails" target="_blank" rel="noopener">Change</a>
    </div>
  </div>

</div>