<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>

<h1 class="display-4">Profile update</h1>

<div class="row justify-content-center">
  <div class="col-lg-5 col-md-7 col-sm-10">
    <%= render 'form' %>
  </div>
  <div class="col-1">
    <div class="gravatar_edit push-right">
      <%= gravatar_for @user %>
      <a class="btn btn-success margin_top" href="http://gravatar.com/emails" target="_blank" rel="noopener">Change</a>
    </div>
  </div>

</div>