<% provide(:title, 'All users') %>

<h1>All users</h1>

<div class="list-group">
  <%= render @users %>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <%= link_to_prev_page @users, '<< Prev', :class => "btn btn-outline-primary btn-sm" %>
    <%= link_to_next_page @users, 'Next >>', :class => "btn btn-outline-primary btn-sm" %>
  </div>
</div>