<% provide(:title, 'All users') %>

<h1>All users</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Avatar</th>
    <th>User name</th>
    <th>E-mail</th>
    <th></th>
  </tr>
  </thead>

  <tbody id="users">
  <%= render @users %>
  </tbody>

</table>

<%= will_paginate @users %>