<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create account') %>

<h1 class="display-4">Sign up</h1>

<div class="row row justify-content-center">
  <div class="col-lg-5 col-md-7 col-sm-10">
    <%= render 'form' %>
  </div>
</div>