<div class="jumbotron">
  <h1>Vouky</h1>
  <p class="lead">
    Your personal dictionary.<br>...always with you.
  </p>
  <p>
    <% unless logged_in? %>
        <%= link_to 'Sign up', signup_path, class: "btn btn-success" %>
        <%= link_to 'Log in', login_path, class: "btn btn-success" %>
    <% end %>
  </p>
</div>

