<div class="align-items-center">
  <div class="jumbotron">
    <h1 class="display-1">Vouky</h1>
    <p class="lead">
      Your personal dictionary.<br>...always with you.
    </p>
    <p>
      <% unless logged_in? %>
          <%= link_to 'Sign up', signup_path, class: "btn btn-success" %>
          <%= link_to 'Log in', login_path, class: "btn btn-success" %>
      <% end %>
      <%= social_share_button_tag("Try Vouky, free online tool for creating your own dictionary:",
                                  url: "https://vouky.herokuapp.com/") %>
    </p>
  </div>
</div>




