<div class="jumbotron">

  <%= link_to image_tag("vouky_long.svg", alt: "Vouky logo", id: "long_logo"), root_path %>
  <p class="lead">
    Your personal dictionary.<br>...always with you.
  </p>
  <p>
    <%= social_share_button_tag("Try Vouky, free online tool for creating your own dictionary:",
                                url: "https://vouky.herokuapp.com/", image: "https://goo.gl/images/Asq9nd") %>
  </p>
</div>




