<% provide(:title, @dictionary.word) %>
<h1>Edit</h1>

<div>
  <% categories_for_word(@dictionary.id).each do |cat| %>
      <%= link_to cat, method: :delete, class: "btn btn-sm btn-outline-danger margin_bottom", 'aria-label': "Close" do %>
          <span><%= cat.category.name %></span>
          <span aria-hidden="true">&times;</span>
      <% end %>
  <% end %>

  <%= render 'form', dictionary: @dictionary %>
</div>

