<% provide(:title, @dictionary.word) %>
<h1>Edit</h1>

<div>
  <%= render 'form', dictionary: @dictionary %>
</div>

<div class="btn-group" role="group" aria-label="Actions">
  <%= link_to 'Back', dictionaries_path, :class => "btn btn-outline-secondary" %>
  <%= link_to 'Delete', dictionary_path(@dictionary), method: :delete, :class => "btn btn-outline-danger" %>
</div>
