<% provide(:title, @dictionary.word) %>
<h1>Edit</h1>

<div>
  <%= render 'form', dictionary: @dictionary %>
  <% categories_for_word(@dictionary.id).each do |cat| %>
      <button type="button" class="btn btn-sm btn-danger margin_bottom"><%= cat.category.name %></button>
  <% end %>
</div>

