<% provide(:title, @dictionary.word) %>
<h1>Edit</h1>

<p>
  <%= render 'form', dictionary: @dictionary %>
</p>

<p>
  <%= link_to 'Back', dictionaries_path, :class => "btn btn-outline-primary" %>
  <%= link_to 'Delete', dictionary_path(@dictionary), method: :delete, :class => "btn btn-outline-primary" %>
</p>
