<% provide(:title, "Dictionary") %>
<h1>
  <% if Language.find_by(id: params[:language]) %>
      <%= Language.find_by(id: params[:language]).name %>
  <% else %>
      Dictionary
  <% end %>
</h1>

<% # TODO %>
<% # OPTIMIZE %>
<% # FIXME %>

<%= render 'form', dictionary: Dictionary.new %>

<% unless @dictionaries.empty? %>
    <table class="table table-hover">

      <thead>
      <tr>
        <th class="text-left">Word</th>
        <th class="text-left">Translation</th>
        <th class="text-left">Categories</th>
        <th></th>
      </tr>
      </thead>

      <tbody id="dictionaries">
      <%= render @dictionaries %>
      </tbody>

    </table>
<% end %>

<%= will_paginate @dictionaries %>
