<% provide(:title, @dictionary.word) %>
<h1>Details</h1>

<table class="table">
  <tr>
    <th class="text-center">WORD</th>
    <th class="text-center">TRANSLATION</th>
  </tr>

  <tr>
    <td class="text-center"><%= @dictionary.word %></td>
    <td class="text-center"><%= @dictionary.translation %></td>
  </tr>
</table>