<% provide(:title, @dictionary.word) %>
<h1>Details</h1>

<table class="table">
  <tr>
    <th class="text-center">Word</th>
    <th class="text-center">Translation</th>
    <th class="text-center">Note</th>
  </tr>

  <tr>
    <td class="text-center"><%= @dictionary.word %></td>
    <td class="text-center"><%= @dictionary.translation %></td>
    <td class="text-center"><%= @dictionary.note %></td>
  </tr>
</table>