<% provide(:title, 'Contact') %>
<h1 class="display-4">Contact</h1>

<iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/2518759/activity-summary/1c687263b68bd3fb8057eac6f272bcf22f06b0f4'></iframe>

