#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 2rem 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}

.custom_select {
  width: inherit;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #CCCCCC;
  border-radius: 0.3rem;
  color: #464a4c;
  line-height: 1.25;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  -webkit-appearance:none;
  -moz-appearance:none;
}

#user_language_id {
  display:  block;
  text-align: center;
  vertical-align: middle;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: #464a4c;
  line-height: 1.25;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  -webkit-appearance:none;
  -moz-appearance:none;
}

.margin_bottom {
  margin-bottom: 1rem;
}

.margin_top {
  margin-top: 1rem;
}

.margin_left {
  margin-left: 1rem;
}

.pagination {
  padding: 0.3em;
  cursor: default;

  a, span, em {
    padding: 0.2em 0.5em;
    margin-left: 0.2rem;
    color: #CCCCCC;
  }

  a, em {
    border: 1px solid #CCCCCC;
    border-radius: 0.25rem;
  }

  .disabled {
    color: #CCCCCC;
  }

  .current {
    color: white;
    border-color: #d9534f;
    background-color: #d9534f;
  }

  a {
    background-color: transparent;
    &:hover, &:focus {
      color: white;
      background-color: #CCCCCC;
    }
  }

  .page_info {
    color: #CCCCCC;
    padding-top: 0.8rem;
  }

  .previous_page, .next_page {
    border-width: 1px;
  }

  .previous_page {
    margin-right: 1rem;
  }

  .next_page {
    margin-left: 1rem;
  }
}