// Place all the styles related to the Language controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#first_dictionary {
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
}

.card-deck {
  a, a:hover, a:active, a:visited, a:focus {
    color: black;
  }

  a:hover {
    .card-footer {
      background-color: white;
    }
  }
}