<div class="row">
  <div class="btn-group col-sm-12 justify-content-end" role="group" aria-label="Navigation buttons">
    <%= link_to_prev_page table, '<<', class: "btn btn-outline-secondary" %>
    <%= link_to_next_page table, '>>', class: "btn btn-outline-secondary" %>
  </div>
</div>