<div class="row">
  <div class="btn-group col-sm-12" role="group" aria-label="Navigation buttons">
    <%= link_to_prev_page table, '<< Prev', :class => "btn btn-outline-secondary btn-sm" %>
    <%= link_to_next_page table, 'Next >>', :class => "btn btn-outline-secondary btn-sm" %>
  </div>
</div>